<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <config>
    <!-- 项目专属缓存目录，建议放在项目文件夹下 -->
    <add key="globalPackagesFolder" value=".\.nuget\packages" />
  </config>
</configuration>